<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> </title>
  </head>
  <body>
    <p style="font-family: monospace; font-size: 2.5em">
        <%= title %> is working for docs click here
      <a style="text-decoration: none" href="/docs">
        <mark style="background-color: lightgray">/docs</mark>
      </a>
      <br />
    </p>
  </body>
</html>
